<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Voucher</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Form Tambah Voucher Game</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form
                action="/voucher/create"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <label>Nama Game</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Masukkan nama game"
                  />
                </div>

                <div class="form-group">
                  <label>Kategori</label>
                  <select
                    class="form-control select2"
                    style="width: 100%"
                    name="category"
                    required
                  >
                    <option selected>Pilih Kategori</option>
                    <% categories.forEach(category => { %>
                    <option value="<%= category.name %>">
                      <%= category.name %>
                    </option>
                    <% }) %>
                  </select>
                </div>

                <div class="form-group">
                  <label>Nominal</label>
                  <div class="select2-purple">
                    <select
                      class="form-control select2"
                      multiple="multiple"
                      style="width: 100%"
                      name="nominals"
                      required
                      data-placeholder="Pilih nominal"
                    >
                      <% nominals.forEach(nominals => { %>
                      <option value="<%= nominals._id %>">
                        <%= nominals.coinName %> - <%= nominals.price %>
                      </option>
                      <% }) %>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="thumbnail">Thumbnail</label>
                  <input
                    type="file"
                    name="thumbnail"
                    id="thumbnail"
                    class="form-control"
                  />
                  <br />
                  <img src="" id="preview" />
                </div>

                <button type="submit" class="btn btn-primary">Simpan</button>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        console.log("INI E : ", e);
        $("#preview").attr("src", e.target.result);
        $("#preview").attr("width", "20%");
        $("#preview").attr("height", "20%");
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#thumbnail").change(function () {
    readURL(this);
  });
</script>
